# Database connection string for PostgreSQL
# DATABASE_URI=postgres://postgres:your_strong_mongo_password@localhost:5432/your-database-name

# Database connection string for MongoDB
DATABASE_URI=mongodb://admin:your_strong_mongo_password@localhost:27017/your-database-name?authSource=admin

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE
