/* -------------------------------------------

fonts

------------------------------------------- */

$font-1: var(--font-primary),
sans-serif;

$font-2: var(--font-secondary),
cursive;

/* -------------------------------------------

local connection

------------------------------------------- */

/* ---
@font-face {
    font-family: 'font-name';
    src: url('../fonts/font-name.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-3: 'font-name',
sans-serif;
--- */

/* -------------------------------------------

colors

------------------------------------------- */

$m-1: rgba(36, 47, 53, 1);
$m-2: rgba(99, 112, 118, 1);
$m-3: rgba(163, 169, 171, 1);
$m-4: rgba(226, 238, 238, 1);
$m-5: rgba(243, 247, 248, 1);

$a-1: #00afdb;

/* -------------------------------------------

font size

------------------------------------------- */

$fs-xxxl: 11rem;
$fs-xxl: 10rem;
$fs-xl: 9.2rem;
$fs-lg: 7.8rem;
$fs-md: 6.4rem;
$fs-sm: 4.8rem;
$fs-xs: 3.2rem;
$fs-xxs: 2.2rem;

/* -------------------------------------------

trasition

------------------------------------------- */

$t-sm: .2s cubic-bezier(0, 0, 0.3642, 1);
$t-md: .4s cubic-bezier(0, 0, 0.3642, 1);
$t-lg: .6s cubic-bezier(0, 0, 0.3642, 1);
$t-xl: .8s cubic-bezier(0, 0, 0.3642, 1);
