/* -------------------------------------------

Name: 		Lumex
Version:    1.0
Developer:	Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). email: miller.themes@gmail.com

------------------------------------------- */

/*--------------------------------------------

1. starter
    - default


--------------------------------------------*/

@import 'variables';
@import 'starter';
@import 'common';
@import 'hero';
@import 'components';
